.inline-block {
    display: inline-block;
    float: right;
    vertical-align: top;
    background-color: #AECCFF;
    
}

.navbar {
    background-color: #AECCFF;
    height: 35px;
    margin: 0;
    padding: 10px;
}

.name {
    float: left;
    margin: 0;
    padding: 10px 10px;
    background-color: #AECCFF;
}


ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    overflow: hidden;
    float: right;
    

    
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
  }
  
 
.heroImg {
    padding: 25px;
    
    
}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

img {
  display: block;
  padding-bottom: 15px;

}


button {
  background-color: #AECCFF; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
 
}
 
.bodytext {
text-align: center;
padding-bottom: 15px;
padding-top: 15px;
}

h1 {
  font-family: PT serif;
  font-size: 48px;
  font-style: bold;
  padding-bottom: 5px;
}

footer {
background-color: #E4E4EF;
position: fixed;
left: 0;
bottom: 0;
width: 100%;
height: 40px;

}

