.inline-block {
    display: inline-block;
    vertical-align: top;
    background-color: #AECCFF;
    
}

header {
    background-color: #AECCFF;
   
}

.name {
    float: left;
    padding: 10px;
}

nav {
padding: 10px;
width: 85%;
background-color: #AECCFF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
    
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
  }
  
  li a:hover {
    color: white;
  }
  
 
.heroImg {
    padding: 25px;
    
    
}

.content {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

img {
  display: block;

}


button {
  background-color: #AECCFF; 
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
 
}
 
p {
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
}


footer {
background-color: #E4E4EF;
height: 40px;
}